*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}


body{
    background:#eee;
}


.footer{

    background:#123ee8;
    color:white;
    padding:40px 20px;

}


.footer-container{

    max-width:900px;
    margin:auto;

}



.brand{

    font-size:38px;
    letter-spacing:2px;
    margin-bottom:40px;

}


.brand span{

    font-size:20px;

}



/* Support buttons */

.support button{

    width:100%;
    padding:18px;
    margin:10px 0;

    background:transparent;

    border:2px solid white;

    color:white;

    font-size:20px;

    font-weight:bold;

    border-radius:6px;

    cursor:pointer;

}


.support button:hover{

    background:white;
    color:#123ee8;

}



/* Social */


.footer h3{

    margin-top:50px;
    margin-bottom:25px;
    font-size:18px;

}


.social{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:35px;

}


.social a{

    font-size:45px;

    color:white;

    text-align:center;

}



/* Member section */


.member{

    margin-top:50px;

}


.organization{

    font-size:25px;

    font-weight:bold;

    margin:20px 0;

}


.register{

    background:white;

    color:#123ee8;

    border:none;

    padding:18px 35px;

    border-radius:40px;

    font-size:18px;

    font-weight:bold;

}



/* Newsletter */


.newsletter{

    margin-top:50px;

    border-top:1px solid rgba(255,255,255,.3);

    padding-top:40px;

}


.newsletter h2{

    font-size:30px;

}


.newsletter p{

    font-size:20px;

    margin:10px 0 25px;

}



.subscribe{

    display:flex;

    gap:10px;

}



.subscribe input{

    flex:1;

    padding:18px;

    border-radius:5px;

    border:none;

    font-size:18px;

}


.subscribe button{

    background:white;

    color:#123ee8;

    border:none;

    padding:15px 25px;

    font-weight:bold;

    font-size:18px;

}




@media(max-width:600px){


.brand{

    font-size:28px;

}


.social{

    grid-template-columns:
    repeat(4,1fr);

}


.social a{

    font-size:32px;

}


.subscribe{

    flex-direction:column;

}


.subscribe button{

    width:100%;

}

}